*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.headerF{
    background-color: rgb(187, 34, 67);
}
.navb{
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem;
}
.navmenu{
    display: flex;
    align-items: center;
    gap: 20px;
    
}

.crsl{
    height: 80vh;
    display: flex;
    align-items: center;
    border: 2px solid black;
    justify-content: center;
    background-size: cover;
    background-position: center;
    animation: changeBackground 10s infinite alternate;
    transition: background-image 1s ease-in-out;
    
}
@keyframes changeBackground{
    0% {
        background-image: url('images.jpg');
    }
    25% {
        background-image: url('images1.jpg');
    }
    50% {
        background-image: url('images2.jpg');
    }
    75% {
        background-image: url('images3.jpg');
    }
    100% {
        background-image: url('images4.jpg');
    }
}
form{
    height: 60vh;
    width: 25rem;
    /* box-shadow: inset -3px -3px rgba(255, 255, 255, 0.1); */
    backdrop-filter: blur(50px);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: larger;
    position: absolute;
    right: 25px;
    border: 50px white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.review{
    height: 600px;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 25px; 
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}
#r {
    position: absolute; /* Position the h1 absolutely within the .review div */
    top: 10px; /* Adjust this value to position the h1 from the top */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for horizontal centering */
}
.rev1{
    height: 300px;
    width: 300px;
    border: 5px solid black;
    border-radius: 50%;
}
#aboutus{
    height: 400px;
    margin: 10px;
    padding: 10px;
    border: 5px solid black;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mem{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 50px;
}
.sos{
    height: 400px;
    width: 400px;
    border: 5px solid black;
    border-radius: 50%;
    margin: 50px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contactus{
    margin: 50px;
}
footer{
    text-align: center;
}
input{
    height: 50px;
    width: 350px;
    border-radius: 2rem;
    text-align: center;
    font-size: 24px;
    background-color: greenyellow;
    opacity: 0.5;
    border: 5px solid white;
}
a{
    font-size: 1.5rem;
    color: rgb(224, 255, 255);
    text-decoration: none;
    /* border-radius: 2rem; */
    text-align: center;
    padding: .3rem .5rem;
    border-radius: 5px;
    transition: all .2s;
}
a:hover{
    background-color: blue;
}
.rev{
    font-size: 26px;
    text-align: center;
    flex: 1;
}
#quote{
    position: absolute;
    width: calc(100% - 74vh);
    /* border: 1px solid black; */
    left: 25px;
    font-size: 3rem;
    color: rgb(155, 82, 9);

}
label{
    font-size: 30px;
    
}